*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#title{
    font-size: 40px;
    margin-top: 20px;
    color: rgb(72, 10, 180);
    
}

#img{
    display: flex;
    margin: 20px auto;
    background-color: rgba(222, 235, 245, 0.628);
    width: 1300px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(185, 159, 159);
    /* border: 5px solid rgb(55, 0, 255); */
    /* justify-content: space-evenly; */
    /* align-items: center; */
}
img{
    height: 350px;
    padding: 20px;
    /* background-color: aqua; */
}

#item{
    /* border: 2px solid red; */
    width: 900px;
    margin-left: 30px;
}

#remove{
    margin: 30px;
    height: 70px;
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: rgb(205, 5, 5);
    border: none;
    /* border: 2px solid black; */
    transition: transform 1s;
    /* margin: 250px 0px; */
    margin-top: 160px;
    margin-left: -300px;
    /* margin-left: 30px; */
    
    

}
#remove:hover{
    transform: scale(1.1);
    transition-duration: 1s ;
    overflow: hidden;
    background-color: black;
    
}
#description{
    line-height: 25px;
    font-size: 22px;
    margin-top: 20px;
}
body{
    background-color: white;
}