*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    display: flex;
    height: 90px;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid rgb(39, 27, 52);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 38px;
    
    
}

nav #logo>h1{
    font-size: 30px;
    font-weight: 700;
}
nav #logo>h1::first-letter{
    color: red;
    font-size: 35px;
}

#navigation_option{
    display: flex;
    flex-basis: 25%;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
#navigation_option a{
    text-decoration: none;
    /* color: black; */
    font-size: 25px;
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
}
a::after{
    content: "";
    position:absolute;
    bottom: 0;
    left:0;
    width: 0%;
    height: 3px;
   
    background-color: rgb(18, 17, 12);
    transition:width 0.5s ease;
}
a:hover::after{
    width: 100%;
    
}
#search_box{
    width: 300px;
    height: 42px;
    border: 2px solid rgb(95, 89, 89);
    display: flex;
    border-radius: 25px;
    overflow: hidden;
}

#search_box input{
    flex: 1;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
}
#search_logo{
    width: 42px;
    height: 42px;
    background-color:rgb(70, 29, 203);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
#Cart{
    font-size: 25px;
    font-weight: 600;
}
#search_box:focus-within{
    box-shadow: 0px 0px 10px rgb(48, 48, 66);
}


#root{
            display: flex;
            flex-wrap: wrap;
            /* text-align: center; */
            justify-content: center;
            gap: 10px;

        }
        
        main{
            height: 600px;
            width: 500px;
            border: 2px solid rgb(27, 24, 24);
            margin-top: 5px;
            padding: 10px;
            background-color: rgba(234, 229, 225, 0.829);
            color: black;
             overflow: hidden;
             line-height: 30px;
             /* padding-left: 10px; */
        }
        img{
            width: 100%;
            height: 300px;
            margin-bottom: 20px;
        }
        img:hover{
            transform: scale(1.1);
            transition-duration: 1s ;
            overflow: hidden;
        }
        a:hover{
            color: black;
        }

        #content{
            margin: 20px 10px;
            line-height: 30px;
            font-size: 20px;
        }
        #button{
            display: flex;
            justify-content: space-between;
            /* padding: 0px 10px ; */
            margin:10px 10px;
        }
        button:hover{
            transform: scale(1.1);
            transition-duration: 1s ;
            overflow: hidden;
        }
        button{
            margin-top: 10px;
            height: 70px;
            width: 180px;
              border: 2px solid ;
            font-weight: bold;
            font-size: 22px;
            background-color: rgb(21, 140, 54);
            border: none;
            border-radius: 10px;
        }
        button a{
            color: white;
            text-decoration: none;

        }
        