*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
input{
    
    display: block;
    padding:0px 10px;
    width: 240px;
    height: 36px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px rgb(12, 12, 12);
    background-color: rgb(226, 234, 234);
}
form{
    
    padding: 40px ;
}
h1{
    /* margin-top: 40px; */
    margin: 0px 120px;
}
#form{

    margin:30px auto;
    width: 320px;
    height:300px;
    /* border: 2px solid rgb(132, 114, 114); */
    box-shadow: 0px 0px 10px rgb(121, 107, 107);
    background-color: rgba(233, 233, 233, 0.783);
}
label{
    font-size: 15px;
    margin-bottom: 90px;
    /* padding:20px 0px; */
}
button{
    height: 40px;
    width: 180px;
    background-color: rgb(14, 32, 231);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-left: 35px;
   
}